x86_64_build/
arm64_build/
output-debs/
*.deb
certs/*.pem
!certs/*pub.pem
*.log
*~
# ignore build outputs and signing keys
output-debs/
certs/
scripts/common/*_build/
scripts/x86_64/*_build/
scripts/arm64/*_build/
